extends layout

block content

  h1#title #{title}

  - for (var i = 0; i < validTypes.length; i += 2)
    - if (i%2 == 0)
      div.section-row
        div.section-column
          button.section-collapsible-button #{validTypes[i].charAt(0).toUpperCase() + validTypes[i].slice(1)}
          div.section-collapsible-content
            div.section-inner-column
              h3.table-title Not-Visited (#{Object.keys(unscratchedLists[validTypes[i]]).length})
              table.section-table
                tr
                  th Name
                  th Code
                each key, val in unscratchedLists[validTypes[i]]
                  tr
                    td #{key}
                    td #{val}
            div.section-inner-column
              h3.table-title Visited (#{scratchedLists[validTypes[i]].length})
              table.section-table
                tr
                  th Name
                  th Year
                  th Link
                each val in scratchedLists[validTypes[i]]
                  tr
                    td #{val.name}
                    td #{val.year}
                    td
                      a(href=val.url target='_blank') #{val.url}
        - if (validTypes[i+1] !== undefined)
            div.section-column
              button.section-collapsible-button #{validTypes[i+1].charAt(0).toUpperCase() + validTypes[i+1].slice(1)}
              div.section-collapsible-content
                div.section-inner-column
                  h3.table-title Not-Visited (#{Object.keys(unscratchedLists[validTypes[i+1]]).length})
                  table.section-table
                    tr
                      th Name
                      th Code
                    each key, val in unscratchedLists[validTypes[i+1]]
                      tr
                        td #{key}
                        td #{val}
                div.section-inner-column
                  h3.table-title Visited (#{scratchedLists[validTypes[i+1]].length})
                  table.section-table
                    tr
                      th Name
                      th Year
                      th Link
                    each val in scratchedLists[validTypes[i+1]]
                      tr
                        td #{val.name}
                        td #{val.year}
                        td
                          a(href=val.url target='_blank') #{val.url}
  
  script.
    var collapsibles = document.querySelectorAll('.section-collapsible-button');

    for (let i = 0; i < collapsibles.length; i++) {
      collapsibles[i].addEventListener('click', function() {
        this.classList.toggle('active');
        var collContent = this.nextElementSibling;
        let collContentStyle = getComputedStyle(collContent);

        if (collContent.style.display == 'flex' || collContentStyle.display == 'flex') {
          collContent.style.display = 'none';
        } else if (collContent.style.display == 'none' || collContentStyle.display == 'none') {
          collContent.style.display = 'flex';
        }
      });
    }