extends layout

block content

  h1#title #{title}

  div#map-section
    - for (var i = 0; i < validTypes.length; i++)
      a.map-box(href=`/map/${validTypes[i]}`)
        div.map-box-map
          img.map-box-img(src=`/images/${validTypes[i]}.png`)
          //-svg.map-box-img(width="100px", height="100px")
            //-use(xlink:href=`../public/images/${validTypes[i]}.svg`)
          //-object(type="image/svg+xml" data=`/images/${validTypes[i]}.svg`)
        div.map-box-label #{parseTypeName(validTypes[i])}
    
  br
  br
  br

  - for (var i = 0; i < validTypes.length; i += 2)
    - if (i%2 == 0)
      div.section-row
        div.section-column
          button.section-collapsible-button
            span.section-collapsible-title #{parseTypeName(validTypes[i])}
            span.section-collapsible-icon ╲╱
          div.section-collapsible-content
            div.section-inner-column
              h3.table-title Not-Visited (#{Object.keys(unscratchedLists[validTypes[i]]).length})
              table.section-table
                tr
                  th Name
                  th Code
                each key, val in unscratchedLists[validTypes[i]]
                  tr
                    td #{key}
                    td #{val}
            div.section-inner-column
              h3.table-title Visited (#{scratchedLists[validTypes[i]].length})
              table.section-table
                tr
                  th Name
                  th Year
                  th Link
                each val in scratchedLists[validTypes[i]]
                  tr
                    td #{val.name}
                    td #{val.year}
                    td
                      a(href=val.url target='_blank') #{val.url}
        - if (validTypes[i+1] !== undefined)
            div.section-column
              button.section-collapsible-button
                span.section-collapsible-title #{parseTypeName(validTypes[i+1])}
                span.section-collapsible-icon ╲╱
              div.section-collapsible-content
                div.section-inner-column
                  h3.table-title Not-Visited (#{Object.keys(unscratchedLists[validTypes[i+1]]).length})
                  table.section-table
                    tr
                      th Name
                      th Code
                    each key, val in unscratchedLists[validTypes[i+1]]
                      tr
                        td #{key}
                        td #{val}
                div.section-inner-column
                  h3.table-title Visited (#{scratchedLists[validTypes[i+1]].length})
                  table.section-table
                    tr
                      th Name
                      th Year
                      th Link
                    each val in scratchedLists[validTypes[i+1]]
                      tr
                        td #{val.name}
                        td #{val.year}
                        td
                          a(href=val.url target='_blank') #{val.url}
  
  script.
    var collapsibles = document.querySelectorAll('.section-collapsible-button');

    for (let i = 0; i < collapsibles.length; i++) {
      collapsibles[i].addEventListener('click', function() {
        var collIcon = this.querySelector('.section-collapsible-icon');
        var collContent = this.nextElementSibling;
        let collContentStyle = getComputedStyle(collContent);

        if (!this.classList.contains('active')) {
          this.classList.add('active');
          collIcon.innerHTML = '╱╲';
          collContent.style.display = 'flex';
        } else if (this.classList.contains('active')) {
          this.classList.remove('active');
          collIcon.innerHTML = '╲╱';
          collContent.style.display = 'none';
        }
      });
    }