extends layout

block content
  link(rel='stylesheet', href='/css/sweetalert2.min.css')
  script(src='/js/sweetalert2.all.min.js', type='text/javascript')

  if mapType == 'countries'
    link(rel='stylesheet', href='/css/world.css')
  else 
    link(rel='stylesheet', href='/css/map.css')
  
  script.
    var objectList = !{JSON.stringify(objectList)};
    var scratchedObjects = !{JSON.stringify(scratchedObjects)};
    var mapType = !{JSON.stringify(mapType)};
    var validTypes = !{JSON.stringify(validTypes)};

  h1#title #{title}

  div#map-container
    div.zoom-controls
      button.zoom-reset(type='button', onclick='resetView()') Reset
      button.zoom-in(type='button', onclick='zoomIn()') +
      button.zoom-out(type='button', onclick='zoomOut()') -
  
    if mapType == 'countries'
      div#svg-container(
        data-zoom-on-wheel="zoom-amount: 0.003; min-scale: 1; max-scale: 8;",
        data-pan-on-drag="button: left;"
      )
        !=mapSVG
    else
      div#svg-container(
        data-zoom-on-wheel="zoom-amount: 0.003; min-scale: 1; max-scale: 2;",
        data-pan-on-drag="button: left;"
      )
        !=mapSVG
  
  script(src='/js/scratch.js', type='text/javascript')

  script(src='/js/svg-pan-zoom-container.js', type='text/javascript')
  script(src='/js/svg_controls.js', type='text/javascript')